---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Sarath Chandran Maimpilly
  </div>
   <div class="inline opacity-10">
    Adapted from
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>
</footer>
<style></style>
